{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4" style="font-weight: bold; color: #5A5A5A;">পণ্য অর্ডার করুন</h1>
    <div class="card mx-auto shadow-lg" style="max-width: 600px; border-radius: 10px;">
        <div class="card-body">
            <h5 class="card-title text-center" style="font-weight: bold; font-size: 1.5rem; color: #343A40;">
                {{ product.name }}
            </h5>
            <div class="text-center my-4">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" 
                     class="img-fluid rounded shadow-lg" 
                     style="height: 200px; width: auto; max-width: 100%; object-fit: cover;">
                     <br>
                     <strong>পণ্যের মূল্যঃ {{ product.price }} টাকা </strong>
                
            </div>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100 mt-4" style="font-size: 1rem;" 
                    onclick="fbq('track', 'Purchase', {
                        content_name: '{{ product.name }}',
                        content_ids: ['{{ product.id }}'],
                        value: {{ product.price }},
                        currency: 'BDT'
                    })">
                    অর্ডার কনফার্ম করুন
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
